<div class="card yellow lighten-4">
  <div class="card-content">
    <h6>By: <b><%= note.officer.proper_name %></b></h6>
    <p class="tiny"><%= note.date.strftime("%B %d, %Y") %></p>
    <br />
    <p><%= note.content %></p>

  </div>
</div>